<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Replace</title>
    <style>
        button {
            background-color: #444;
        }
        .input-area {
            background-color: #111;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="pref-area">
            <button>Replace</button>
        </div>
        <div id="search"  class="input-area" contenteditable="true"></div>
        <div id="replace" class="input-area" contenteditable="true"></div>
    </div>

    <script>
        const vscode = acquireVsCodeApi()
    </script>
</body>
</html>
