<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Replace</title>
    <style>
        .button {
            display: inline-block;

            color           : #BBB;
            background-color: #444;

            padding: 4px 20px 4px 20px
        }
        .input-area {
            color           : #BBB;
            background-color: #111;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="pref-area">
            <span class="button" onclick="runReplace()">Replace</span>
        </div>
        <div class="search-area">
            <textarea id="search"  class="input-area"></textarea>
        </div>
        <div class="replace-area">
            <textarea id="replace" class="input-area"></textarea>
        </div>
    </div>

    <script>
        const vscode = acquireVsCodeApi()

        const searchElement  = document.getElementById('search')
        const replaceElement = document.getElementById('replace')

        const runReplace = () =>
            vscode.postMessage({
                command   : 'runReplace',
                searchStr : searchElement .value,
                replaceStr: replaceElement.value
            })
    </script>
</body>
</html>
